<div class="card"></div>
    <img [src]=" aluno.imagem " alt="">
    <h3>{{ aluno.nome }}</h3>
    <p>
        <strong>Curso:</strong> {{ aluno.curso }}
    </p>
    <p>
        <strong>Matrícula:</strong> {{ aluno.matricula }}
    </p>
    <p>
        <strong>Email: </strong> {{ aluno.email }}
    </p>
        <div class="aprovação" [ngcClass]="aluno.cadastro ? 'Aprovado' : 'Reprovado'">
                                    
            <p>
                Aluno {{ aluno.cadastro ? 'Aprovado' : 'Reprovado' }}
            </p>
        </div>


    <p class="footer">
        <strong [ngStyle]="{ 'font-size' : '' }"> Proway</strong>
    </p>
</div>