
table, th, td, tr{
    border-collapse: collapse;
}

th, td {
padding: 8px;
}

table{

}

thead tr {
    background-color: orangered;
    color: #fff;
    text-align: left;
}

tbody tr:nth-child(even){
background-color: #dedede;
}

tbody tr:hover{
background-color: midnightblue;
}

.lista{
display: flex;

}